
.list_ebook_con { width:600px; overflow:hidden;}
.list_ebook { float:left; width:158px; margin:10px; padding:5px; border:3px solid #ccc; }
.list_ebook_img { width:150px; margin:0 auto;}
.list_ebook_img img { width:100% !important; border:3px Solid #ccc; display:block;}































